<?xml version='1.0' encoding='utf-8'?>
<widget id="com.philipborg.cubeshuffle" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CubeShuffle</name>
    <description>Card game shuffling utility</description>
    <author href="https://github.com/philipborg">
        CubeShuffle is developed by philipborg
    </author>
    <content src="index.html" />
</widget>
